[submodule "Keebio-Parts.pretty"]
	path = Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "keebio-components"]
	path = keebio-components
	url = https://github.com/keebio/keebio-components
[submodule "kicad-footprint-kailh-pg1425-x-switch"]
	path = kicad-footprint-kailh-pg1425-x-switch
	url = https://github.com/shikamiya/kicad-footprint-kailh-pg1425-x-switch
[submodule "kbd"]
	path = kbd
	url = https://github.com/foostan/kbd
[submodule "Type-C.pretty"]
	path = Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty
[submodule "KiCad-SSD1306-128x64"]
	path = KiCad-SSD1306-128x64
	url = https://github.com/pforrmi/KiCad-SSD1306-128x64
[submodule "libmodulo"]
	path = libmodulo
	url = https://github.com/moduloindustries/libmodulo
